*{padding: 0;
    margin: 0;}
body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.top{height:190px;
background-color: #7c7d7f;
color: #f5f5f5;}
.top h1{font-size: 55px;
    padding: 10px;}
.icons{display: flex;
    gap:8px;}
.list{float: right;}
.list ul li{display: inline-block;
    margin:20px;}
a{text-decoration: none;
    color: #f5f5f5;}
a:hover{background-color: #343435;
    padding: 5px;}
.edu{background-color: #343435;
    padding: 19px;}
.img{display: flex;}
.card{background-color: #f5f5f5;
    border-radius: 20px;
    text-align: center;
width: 800px;
height: 300px;}
.school{display: flex;
gap:20px}