*{padding: 0;
    margin: 0;}
body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.top{height:190px;
background-color: #7c7d7f;
color: #f5f5f5;}
.top h1{font-size: 55px;
    padding: 10px;}
.icons{display: flex;
    gap:8px;}
.list{float: right;}
ul li{display: inline-block;
    margin:20px;}
a{text-decoration: none;
    color: #f5f5f5;}
a:hover{background-color: #343435;
    padding: 5px;}
.home{background-color: #343435;
    padding: 19px;}
.container{display: flex;} 



.image{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  overflow: hidden;}        /* make the image circle*/

.image img {
  width: 400px;
  height: auto;}